@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.form-group {
  margin-bottom: 1rem;
}

.error-feedback {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form-check {
  margin-bottom: 1rem;
}
